@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.all-cart {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}
.primary-button {
  @apply rounded bg-amber-200 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}

/* [slug] */
.back {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 16px;
  font-weight: 500;
}
.detail-1 {
  display: flex;
}
.detail-2 {
  margin-left: 20px;
}
.detail-2 h1 {
  font-weight: bold;
}
.detail-3 {
  margin-top: 20px;
}
